:root{
    --red-color: #9b1c31;
    --white-color: #f9f9f9;
    --grey-color: #cccccc;
    --light-grey-color: #f0f0f0;
    --lighter-grey-color: #e0e0e0;
    --dark-grey-color: #333;
    --green-200: #9ae6b4;
}

.body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--grey-color);
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;

    .logo{
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--red-color);
    }
}

.nav-items {
    & ul{
        display: flex;
        gap: 4rem;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;

        & li,
        & li a{
            font-size: 1.1rem;
            font-weight: 600;
            color: var(--dark-grey-color);
            cursor: pointer;
            transition: 0.3s;
            text-decoration: none;

            &:hover{
                color: var(--red-color);
            }
        }
    }
}

.btn{
    background: var(--green-200);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    color: var(--dark-grey-color);
    transition: 0.3s;

    &:hover{
        background-color: rgb(74 222 128 / 80%);
    }
}


.filter{
    margin: 1rem 0;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.search-container {
    display: flex;

    .search-input {
        padding: 0.5rem 1rem;
        border: 1px solid var(--green-200);
        border-radius: 0.5rem 0 0 0.5rem; /* Left side rounded corners only */
        font-size: 1rem;
        color: var(--dark-grey-color);

        &:focus {
            outline: none;
        }
    }

    .btn {
        border-radius: 0 0.5rem 0.5rem 0; /* Right side rounded corners only */
    }
}


.restaurant-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;

    a{
        text-decoration: none;
        color: var(--dark-grey-color);
    }

    .restaurant-card{
        background: var(--light-grey-color);
        border-radius: 0.5rem;

        &:hover{
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .restaurant-img{
            width: 100%;
            height: 200px;
            object-fit: cover;
            overflow: hidden;
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
        }

        .card-body{
            padding: 0.5rem 1rem;
        }
    }
}


/* Shimmer Card style */
.shimmer-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    margin-top: 1rem;

    .shimmer-card{
        background: var(--light-grey-color);
        border-radius: 0.5rem;
        height: 300px;
    }
}

.restaurant-menu {
    padding: 2rem;
    margin: 0 auto;
}

.restaurant-summary {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--grey-color);
}

.restaurant-summary .restaurant-img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 0.5rem;
}

.restaurant-info h1 {
    margin-bottom: 0.5rem;
}

.meta-info {
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
}

.menu-items h2 {
    margin-bottom: 1rem;
}

.menu-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
}

.menu-card {
    background: var(--light-grey-color);
    border-radius: 0.5rem;
    overflow: hidden;
}

.menu-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.menu-details {
    padding: 1rem;
}

.menu-details h3 {
    margin-bottom: 0.5rem;
}

.menu-details p {
    color: var(--red-color);
    font-weight: bold;
}

.user-profile{
    padding: 1rem;
    border: 1px solid var(--grey-color);
    margin: 0 auto;
    border-radius: 0.5rem;
}