:root{
    --red-color: #9b1c31;
    --white-color: #f9f9f9;
    --grey-color: #cccccc;
    --light-grey-color: #f0f0f0;
    --lighter-grey-color: #e0e0e0;
    --dark-grey-color: #333;
}

.body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--grey-color);
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;

    .logo{
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--red-color);
    }
}

.nav-items {
    & ul{
        display: flex;
        gap: 4rem;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;

        & li {
            font-size: 1.1rem;
            font-weight: 600;
            color: var(--dark-grey-color);
            cursor: pointer;
            transition: 0.3s;

            &:hover{
                color: var(--red-color);
            }
        }
    }
}


.filter{
    margin: 1rem 0;

    .filter-btn{
        background: var(--light-grey-color);
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        cursor: pointer;
        font-size: 1rem;
        color: var(--dark-grey-color);
        transition: 0.3s;

        &:hover{
            background: var(--lighter-grey-color);
        }
    }
}


.restaurant-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;

    .restaurant-card{
        background: var(--light-grey-color);
        border-radius: 0.5rem;

        &:hover{
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .restaurant-img{
            width: 100%;
            height: 200px;
            object-fit: cover;
            overflow: hidden;
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
        }

        .card-body{
            padding: 0.5rem 1rem;
        }
    }
}


/* Shimmer Card style */
.shimmer-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    margin-top: 1rem;

    .shimmer-card{
        background: var(--light-grey-color);
        border-radius: 0.5rem;
        height: 300px;
    }
}